@page "/checks/update/{id}"
@model DBAIS.Pages.CheckPages.CheckUpdateModel
@{
    Layout = "_Shared/_MasterLayoutPage";
}
<div>
    <!-- Toggle menu -->
    @{
        Dictionary<string, string> breadcrumbRoutes = new Dictionary<string, string>
{
                    {"/", "Home"},
                    {"/checks", "Checks"},
                    {"/checks/update", "Update"},
                };

    }
    <partial name="_ToggleSidebarWithBreadcrumbs" model="@breadcrumbRoutes" />
    <!-- Content -->
    <div>
        @{
            var header = "Current check number: " + Model.CurrentCheck.Number;
        }
        <partial name="_EditPageHeader" model="@header" />
        @if (ModelState.ErrorCount > 0)
        {
            <div id="book-alert" class="alert alert-danger" role="alert" style="{margin:10px;}">
                <div class="validation" asp-validation-summary="All"></div>
            </div>
        }
        <form method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <p>Total: @Model.Total</p>
                    </div>
                    <div class="col-3">
                        <label asp-for="Vat">Vat</label>
                        <input asp-for="Vat" class="form-control" placeholder="VAT">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-3">
                        <label asp-for="PrintDate">Print date</label>
                        <input asp-for="PrintDate" class="form-control" placeholder="Date printed">
                    </div>
                    <div class="col-3">
                        <label asp-for="CardNumber">Card number</label>
                        <input asp-for="CardNumber" class="form-control" placeholder="Card number">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2">
                        <a href="/checks">
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </a>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-success" value="Update Check">
                    </div>
                </div>
            </div>
        </form>

        <hr/>
        @{
            var header2 = "Add products to check";
        }
        <partial name="_EditPageHeader" model="@header2" />
        <form method="post" asp-page-handler="CreateSale">
            <div class="form-group">
                <div class="row">
                    <input name="id" hidden value="@Model.CurrentCheck.Number" />
                    <div class="col-2">
                        <input type="text" name="upc" class="form-control" placeholder="UPC">
                    </div>
                    <div class="col-2">
                        <input type="number" name="count" class="form-control" placeholder="Count">
                    </div>
                    <div class="col-2">
                        <input type="number" name="price" class="form-control" placeholder="Price">
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-success" value="Create Sale">
                    </div>
                </div>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Upc</th>
                    <th scope="col">Count</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sale in Model.CurrentCheck.Sales)
                {
                    <tr>
                        <td>@sale.Upc</td>
                        <td>@sale.Count</td>
                        <td>@sale.Price</td>
                        <td>
                            <form method="post" asp-page-handler="DeleteSale">
                                <input name="id" hidden value="@Model.CurrentCheck.Number" />
                                <input name="upc" hidden value="@sale.Upc" />
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
