@page "/customers"
@model DBAIS.Pages.ClientCardPages.ClientCardsPageModel
@{
    ViewBag.Title = "Customers";
    Layout = "_Shared/_MasterLayoutPage";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <partial name="_ToggleSidebarButton" />
        <div class="col-1">
            <a href="/customers">
                <button type="button" class="btn btn-success">Add +</button>
            </a>
        </div>
        <div class="col">

        </div>
    </div>
</nav>
<h1>Customers</h1>
@if (ModelState.ErrorCount > 0)
{
    <div id="book-alert" class="alert alert-danger" role="alert" style="{margin:10px;}">
        <div class="validation" asp-validation-summary="All"></div>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Client card</th>
            <th scope="col">Surname</th>
            <th scope="col">Name</th>
            <th scope="col">Patronym</th>
            <th scope="col">Telephone</th>
            <th scope="col">Address</th>
            <th scope="col">%</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
        <tr>
            <td>@customer.Number</td>
            <td>@customer.Surname</td>
            <td>@customer.Name</td>
            <td>@customer.Patronymic</td>
            <td>@customer.Phone</td>
            <td>@customer.City</td>
            <td>@customer.Percent</td>
            <td><a asp-page="CustomerUpdate" asp-route-id="@customer.Number" class=" text-primary link-primary">Update</a></td>
            <td>
                <form method="post">
                    <input type="submit" asp-page-handler="delete" asp-route-id="@customer.Number" class="btn btn-danger" value="Delete">
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
