@page "/checkfinder/findtotalcount"
@model DBAIS.Pages.CheckFinderPages.FindTotalCountModel
@{
    ViewBag.Title = "Find Total Count";
    Layout = "_Shared/_MasterLayoutPage";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <partial name="_ToggleSidebarButton" />
        <div class="col">

        </div>
    </div>
</nav>

<h1>Total count</h1>
@if (ModelState.ErrorCount > 0)
{
    <div id="book-alert" class="alert alert-danger" role="alert" style="{margin:10px;}">
        <div class="validation" asp-validation-summary="All"></div>
    </div>
}

<hr />
@{
    var header1 = "Find how many units of a product have been sold in a period";
}
<partial name="_EditPageHeader" model="@header1" />
<div>
    <form method="get">
        <div class="input-group">
            <input type="hidden" name="handler" value="PeriodTotalCount" />
            <label class="form-check-label" asp-for="ProductUpc" style="margin-top:6px;margin-right:6px;">
                Product UPC
            </label>
            <input class="form-control" asp-for="ProductUpc" name="upc" value="@(@Model.ProductUpc)" placeholder="UPC">
            <div class="col-1">

            </div>
            <label class="form-check-label" asp-for="DateFrom" style="margin-top:6px;margin-right:6px;">
                From
            </label>
            <input class="form-control" asp-for="DateFrom" name="dateFrom" value="@(Model.DateFrom.Date.ToString("yyyy-MM-dd"))">
            <div class="col-1">

            </div>
            <label class="form-check-label" asp-for="DateTo" style="margin-top:6px;margin-right:6px;">
                To
            </label>
            <input class="form-control" asp-for="DateTo" name="dateTo" value="@(Model.DateTo.Date.ToString("yyyy-MM-dd"))">
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="Get">
            </div>
        </div>
    </form>
</div>
@if (Model.TotalCountPeriod != null)
{
    <br />
    <div>
        <h3>There have been totally sold @(Model.TotalCountPeriod) units of product @(Model.ProductUpc) in period from @(Model.DateFrom.Date.ToString("yyyy-MM-dd")) to @(Model.DateTo.Date.ToString("yyyy-MM-dd"))</h3>
    </div>
}
<hr />
