@page "/products"
@model DBAIS.Pages.ProductPages.ProductsPageModel
@{
    Layout = "_Shared/_MasterLayoutPage";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>
        <div class="col-1">
            <a href="/products/add">
                <button type="button" class="btn btn-success">Add +</button>
            </a>
        </div>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>
        <form method="get">
            <div class="input-group">
                <input type="hidden" name="handler" value="ByCategory" />
                <select class="custom-select" asp-for="SelectedCategory" name="category">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Name" selected="@(category.Name.Equals(Model.SelectedCategory))">@category.Name</option>
                    }
                </select>
                <select class="custom-select" asp-for="SelectedCategory" name="sort">
                    <option value="Ascending" selected="@(Model.SelectedSort == null && Model.SelectedSort == Models.Sort.Ascending)">Asc</option>
                    <option value="Descending" selected="@(Model.SelectedSort == Models.Sort.Descending)">Desc</option>
                </select>
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Get">
                </div>
            </div>
        </form>
    </div>
</nav>

<h1>Products</h1>
@if (ModelState.ErrorCount > 0)
{
    <div id="book-alert" class="alert alert-danger" role="alert" style="{margin:10px;}">
        <div class="validation" asp-validation-summary="All"></div>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Category</th>
            <th scope="col">Product name</th>
            <th scope="col">Characteristics</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Category.Name</td>
                <td>@product.Name</td>
                <td>@product.Characteristics</td>
                <td><a asp-page="ProductUpdate" asp-route-id="@product.Id" class=" text-primary link-primary">Update</a></td>
                <td>
                    <form method="post">
                        <input type="submit" asp-page-handler="delete" asp-route-id="@product.Id" class="btn btn-danger" value="Delete">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
